---
const direction = Astro.props.direction as "up" | "down";

const ARROW_PATHS: Record<"up" | "down", string> = {
  up: "M11.47 7.72a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06L12 9.31l-6.97 6.97a.75.75 0 0 1-1.06-1.06l7.5-7.5Z",
  down:
    "M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z"
};

const ariaLabel =
  direction === "up" ? "Navigate to previous experience" : "Navigate to next experience";
---

<button
  type="button"
  class={`bg-transparent border-none p-0 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 rounded-full ${direction === "up" ? "mb-6 invisible more-up" : "more-down"}`}
  aria-label={ariaLabel}
>
  <svg
    class={`animate-bounce w-7 h-7 lg:w-10 lg:h-10 cursor-pointer`}
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="currentColor"
    aria-hidden="true"
  >
    <path fill-rule="evenodd" d={ARROW_PATHS[direction]} clip-rule="evenodd"></path>
  </svg>
</button>
