---
import Link from "./Link.astro";
---

<footer class="fixed bottom-0 right-0 z-10 bg-white bg-opacity-80 p-4">
  <nav aria-label="Social media and contact links">
    <ul class="flex space-x-2">
      <li>
        <Link href="https://www.linkedin.com/in/martinpalmieri/" label="LinkedIn" />
      </li>
      <li>
        <Link href="https://github.com/martinpalmieri" label="GitHub" />
      </li>
      <li>
        <button
          type="button"
          data-contact-modal-open
          class="font-medium text-sm lg:text-xl hover:underline"
        >
          Contact me
        </button>
      </li>
    </ul>
  </nav>
</footer>
