<header class="p-4 border-b-slate-200 border-b-2">
  <h1 class="text-xl mb-0">
    <a href="/" class="font-extrabold hover:underline">
      &lsaquo; Mart&iacute;n Palmieri</a
    >.
  </h1>
</header>
